<template>
  <div class="home">
    <h1>Welcome to the App!</h1>
    <div v-if="!loggedIn">
      <h3>
        To use this app, you will need to
        <router-link to="/login">
          Login
        </router-link>or
        <router-link to="/register">
          Register
        </router-link>
      </h3>
    </div>
  </div>
</template>

<script>
import { authComputed } from '../vuex/helpers.js'
export default {
  computed: {
    ...authComputed
  }
}
</script>
