<template>
  <div>
    <form @submit.prevent="login">
      <label for="email">Email:</label>
      <input v-model="email" type="email" name="email" value />

      <label for="password">Password:</label>
      <input v-model="password" type="password" name="password" value />

      <button type="submit" name="button">Login</button>
    </form>
    <p >
      <h3 style="{ font-color: red }">{{ error }}</h3>
    </p>
    <h3>Don't have an account ?</h3>
    <router-link to="/Register">Register</router-link>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  methods: {
    login () {
      this.$store
        .dispatch('login', {
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: 'dashboard' })
        })
        .catch(err => {
          console.log('error:' + err.response.data.error)
          this.error = err.response.data.error
        })
    }
  }
}
</script>

<style>
</style>
