<template>
  <div>
    <form @submit.prevent="registerUser">
      <div class="form-group">
        <label for="username">User name</label>
        <input v-model="username" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input v-model="email" type="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input v-model="password" type="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <ul>
        <li v-for="(err, index) in errors" :key="index">{{ err }}</li>
      </ul>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      username: '',
      password: '',
      email: '',
      errors: []
    }
  },
  methods: {
    registerUser () {
      this.$store
        .dispatch('register', {
          name: this.name,
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.$router.push({
            name: 'dashboard'
          })
        }).catch(err => {
          this.errors = err.response.data.errors
        })
    }
  }
}
</script>

<style>
</style>
